In [1]:
series = {
  'index':[0, 1, 2, 3],
  'data':[145, 142, 38, 13],
  'name':'songs'
  }

In [2]:
def get(series, idx):
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

In [3]:
get(series, 1)

142

In [4]:
songs = {
  'index':['Paul', 'John', 'George', 'Ringo'],
  'data':[145, 142, 38, 13],
  'name':'counts'
  }

In [5]:
get(songs, 'John')

142

In [6]:
import pandas as pd
songs2 = pd.Series([145, 142, 38, 13],
     name='counts')

In [7]:
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [8]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
songs3 = pd.Series([145, 142, 38, 13],
     name='counts',
     index=['Paul', 'John', 'George', 'Ringo'])

In [10]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [11]:
songs3.index   # doctest: +NORMALIZE_WHITESPACE

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

In [12]:
class Foo:
    pass

In [13]:
ringo = pd.Series(
     ['Richard', 'Starkey', 13, Foo()],
     name='ringo')

In [14]:
ringo  # doctest: +SKIP +NORMALIZE_WHITESPACE

0                                    Richard
1                                    Starkey
2                                         13
3    <__main__.Foo object at 0x7f125dd9b190>
Name: ringo, dtype: object

In [15]:
import numpy as np
nan_series = pd.Series([2, np.nan],
   index=['Ono', 'Clapton'])
nan_series

Ono        2.0
Clapton    NaN
dtype: float64

In [16]:
nan_series.count()

1

In [17]:
nan_series.size

2

In [18]:
nan_series2 = pd.Series([2, None],
   index=['Ono', 'Clapton'],
   dtype='Int64')
nan_series2

Ono           2
Clapton    <NA>
dtype: Int64

In [19]:
nan_series2.count()

1

In [20]:
nan_series.astype('Int64')

Ono           2
Clapton    <NA>
dtype: Int64

In [21]:
import numpy as np
numpy_ser = np.array([145, 142, 38, 13])
songs3[1]

142

In [22]:
numpy_ser[1]

142

In [23]:
songs3.mean()

84.5

In [24]:
numpy_ser.mean()

84.5

In [25]:
mask = songs3 > songs3.median()  # boolean array

In [26]:
mask

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

In [27]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

In [28]:
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])

In [29]:
import pandas as pd
import numpy as np

In [30]:
from pandas import *

In [31]:
s = pd.Series(['m', 'l', 'xs', 's', 'xl'], dtype='category')
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [32]:
s.cat.ordered

False

In [33]:
s2 = pd.Series(['m', 'l', 'xs', 's', 'xl'])
size_type = pd.api.types.CategoricalDtype(
    categories=['s','m','l'], ordered=True)
s3 = s2.astype(size_type)

In [34]:
s3

0      m
1      l
2    NaN
3      s
4    NaN
dtype: category
Categories (3, object): ['s' < 'm' < 'l']

In [35]:
s3 > 's'

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [36]:
s.cat.reorder_categories(['xs','s','m','l', 'xl'],
                         ordered=True)

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

In [37]:
s3.str.upper()

0      M
1      L
2    NaN
3      S
4    NaN
dtype: object